@use '@/styles/variables.scss' as *;
.button {
  max-width: $signOut-button-width;
  padding: $spacing-16;
  justify-content: center;
  text-align: center;
  transition: $transition;
  background-color: var(--color-subBlock);
  border-radius: $radius-40;
  border: none;
  font-size: $font-size-24;
  font-weight: $font-weight-medium;

  &:hover {
    background-color: $color-hover;
    cursor: pointer;
    color: $color-text-hover;
  }

  @media (max-width: $breakpoints-tablet) {
    font-size: $font-size-16;
    padding: $spacing-8;
  }
}
