$color-rainy: rgba(166, 138, 184, 1);
$color-rainy-dark: rgba(149, 124, 166, 1);

$color-thunderstorm: rgba(75, 63, 114, 1);
$color-thunderstorm-dark: rgba(67, 57, 103, 1);

$color-sunny: rgba(214, 158, 54, 1);
$color-sunny-dark: rgba(193, 142, 49, 1);

$color-snow: rgba(207, 232, 243, 1);
$color-snow-dark: rgba(186, 209, 219, 1);

$color-overcast: rgba(142, 155, 174, 1);
$color-overcast-dark: rgba(128, 139, 157, 1);

$color-windy: rgba(158, 196, 217, 1);
$color-windy-dark: rgba(142, 176, 195, 1);

$color-cloudy: rgba(176, 176, 176, 1);
$color-cloudy-dark: rgba(158, 158, 158, 1);

$color-fog: rgba(214, 214, 214, 1);
$color-fog-dark: rgba(193, 193, 193, 1);

$color-mist: rgba(166, 138, 184, 1);
$color-mist-dark: rgba(149, 124, 166, 1);

$color-stormy: rgba(122, 127, 140, 1);
$color-partly-cloudy: rgba(227, 197, 101, 1);
$color-heavy-rain: rgba(110, 90, 140, 1);
$color-hail: rgba(184, 196, 204, 1);

$color-text-primary: rgba(255, 255, 255, 1);
$color-hover: rgb(226, 227, 189);
$color-text-hover: rgb(77, 78, 68);
$color-background: rgb(240, 234, 234);
$color-white-10: rgba(255, 255, 255, 0.1);
$color-error: rgb(165, 4, 4);

$font-family: 'Inter';
$font-size-12: 12px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-32: 32px;
$font-size-36: 36px;
$font-size-48: 48px;
$font-size-64: 64px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-28: 28px;
$spacing-32: 32px;
$spacing-36: 36px;
$spacing-40: 40px;
$spacing-54: 54px;

$rotate-360: rotate(360deg);

$transition: 0.4s;
$transition-line: 20s;

$radius-40: 40px;
$radius-50: 50px;

$signOut-button-width: 140px;
$signOut-button-height: 55px;

$layout-weatherIcon-size: 300px;
$layout-weatherIcon-size-medium: 200px;
$layout-weatherIcon-size-small: 45px;
$layout-weatherIcon-size-extraSmall: 40px;

$layout-main-width: 1360px;
$layout-main-tablet-width: 420px;
$layout-width-lg: 881px;
$layout-width-md: 446px;
$layout-width-sm: 247px;
$layout-height-sm: 81px;
$layout-height-md: 378px;
$layout-height-lg: calc(
  #{$layout-height-sm} + #{$layout-height-md} + #{$spacing-20}
);

$layout-subBlock-width: 280px;
$layout-subBlock-count: 4;
$layout-subBlock-fraction: calc(100% / #{$layout-subBlock-count});

$layout-tasks-height: 270px;
$layout-task-subBlock-width: 410px;
$layout-slider-width: 380px;

$layout-noTask-subBlock-height: 130px;

$opacity-05: 0.5;

$scale-10: scale(1.1);
$scale-20: scale(1.2);

$breakpoints-tablet: 768px;
$breakpoints-mobile: 390px;
