@use '@/styles/variables.scss' as *;

.searchInput {
  display: flex;
  align-items: center;
  background-color: var(--color-block);
  width: 100%;
  border-radius: $radius-40;
  padding: $spacing-28 $spacing-24;
  height: $spacing-54;
  border: none;
  font-size: $font-size-20;
  font-weight: $font-weight-medium;
}

.suggestions {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  background: $color-background;
  border-radius: $radius-40;
  list-style: none;
  margin: 0;
  padding: $spacing-8;
  z-index: 1;
  font-size: $font-size-20;

  li {
    padding: $spacing-12;
    cursor: pointer;
    color: $color-text-hover;
    &:hover {
      background: $color-hover;
    }
  }
}

.weatherIconBlock {
  max-width: $layout-width-md;
  height: $layout-height-md;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  @media (max-width: $breakpoints-tablet) {
    height: auto;
    padding: $spacing-24;
  }
}

.inputError {
  margin: $spacing-8;
  color: $color-error;
}
