@use '@/styles/variables.scss' as *;

.blockWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;

  @media (max-width: $breakpoints-tablet) {
    width: auto;
  }
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (max-width: $breakpoints-tablet) {
    justify-content: center;
  }
}

.title {
  font-size: $font-size-24;
  font-weight: $font-weight-medium;

  @media (max-width: $breakpoints-tablet) {
    display: none;
  }
}
