@use '@/styles/variables.scss' as *;

.location {
  display: flex;
  align-items: center;
  gap: $spacing-8;
  font-size: $font-size-16;
  color: $color-text-primary;
}

.locationIcon {
  width: $spacing-20;
  height: $spacing-20;
  background-color: $color-fog;
  background-size: contain;
  background-repeat: no-repeat;
}

.locationText {
  white-space: nowrap;
}

.condition {
  margin-top: $spacing-12;
  color: $color-text-primary;
}

.temperature {
  font-size: $font-size-32;
  margin-top: $spacing-12;
  color: $color-text-primary;
}

.date {
  margin-top: $spacing-12;
  color: $color-text-primary;
}
