@use '@/styles/variables.scss' as *;

.condition {
  font-size: $font-size-48;
  font-weight: $font-weight-medium;
  margin-bottom: $spacing-54;
}

.temperature {
  font-size: $font-size-64;
  margin-top: $spacing-12;
  margin-bottom: $spacing-8;
}

.date {
  font-size: $font-size-18;
  font-weight: $font-weight-regular;
}
