@use '@/styles/variables.scss' as *;

.blockWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: $font-size-24;
  font-weight: $font-weight-medium;
}
